<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
    <% if (user) { %>
      <script src="/socket.io/socket.io.js"></script>
      <script>
      var socket = io({
  query: {
    id: '<%= user.id %>'
  }
});
</script>
    <% } %>
  </head>
  <body>
    <% if (user) { %>
      <% include ./navigation-logged-in %>
    <% } else { %>
      <% include ./navigation-logged-out %>
    <% } %>

    <div class="jumbotron jumbotron-fluid row">
      <div class="col-xl-12 flex-center" id="jumbotron-label-container">
        <div class="pl-30">
          <h1 class="display-3">Ace Your Interview</h1>
          <p class="lead">Land your dream job.</p>
          <p class="lead">
            <a class="btn btn-1 btn-lg" id="learn-more">Learn more</a>
          </p>
        </div>
      </div>
      <div class="col-xl-12 flex-center">
        <div class="row pl-30">
          <div class="col-md-12">
            <h1 class="display-4" id="popular-questions-label">Here's What People Are Asking.</h1>
          </div>
          <ul class="col-md-12" id="popular-questions">
            <% for (let i = 0; i < questions.length; ++i) { %>
              <li class="question-card flex-center row">
                <% if (user) { %>
                  <a class="col-md-3 username username-logged-in" href="/username=<%= questions[i].username %>"><span class="fa fa-user mr-2"></span><%= questions[i].username %> </a>
                <% } else { %>
                  <div class="col-md-3 username" href="/"><span class="fa fa-user mr-2"></span><%= questions[i].username %> </div>
                <% } %>
                <div class="col-md-9 question"><%= questions[i].question %></div>
              </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="learn-more-container">
      <div class="col-lg-4"></div>
      <h1 class="title col-lg-4">What is <span class="fa fa-font">ceIt?</h1>
      <div class="col-lg-4"></div>
      <div class="col-lg-2"></div>
      <p class="col-lg-8">
        Have you ever had trouble with your interviews? Do your nerves make you seem less qualified than you actually are? <span class="fa fa-font"></span>ceIt is a web application that looks to solve these problems. It allows you to create your own custom question banks and conduct mock interviews with them. The application records your response, analyzes it, and then provides feedback that range from the level of emotion in your words to how confident you are.
      </p>
      <div class="col-lg-2"></div>
    </div>

  </body>
  <footer>
    <h4 class="col-sm-12 copyright">© Copyright 2017 AceIt</h4>
    <% include ./footer %>
    <script src="javascripts/index.js"></script>
  </footer>
</html>
